# Ignore environment files
/backend/.env
/frontend/.env

# Ignore node_modules for both projects
/backend/node_modules
/frontend/node_modules

# Optional (ignore any node_modules anywhere)
node_modules

# Logs
*.log
